{layout '../template/template.latte'}

{block contenido}
	<div class="container px-4 px-lg-5">
		<h1 class="titulopag" n:block="title">Contacto</h1>

		<p>Fabián Bejarano León
		<p>Desarrollo y Diseño Web
	</div>
{/block}
